.footer-copyright{
  font-size: 12px;
  /* color:#4d4d4d; */
  margin-top: 10px;
  text-align: center;
}

footer {
  padding: 15px 0;
  border-top: 1px solid #cccccc;
  position: relative;
  border-radius: 0 0 8px 8px;
}
