<div>
  <h2>Media</h2>
  <p>
    Media are the communication outlets or tools used to store and deliver information or data.
    The term refers to components of the mass media communications industry, such as print media,
    publishing, the news media, photography, cinema, broadcasting (radio and television), and advertising.
  </p>
  <p>
    The development of early writing and paper enabled longer-distance communication systems such as mail,
    including in the Persian Empire (Chapar Khaneh and Angarium) and Roman Empire,
    which can be interpreted as early forms of media.
    Writers such as Howard Rheingold have framed early forms of human communication as early forms of media,
    such as the Lascaux cave paintings and early writing. Another framing of the history of media starts with the
    Chauvet Cave paintings and continues with other ways to carry human communication beyond the short range of
    voice: smoke signals, trail markers, and sculpture.
  </p>
  <h3>Social impact</h3>
  <p>
    Media technology has made viewing increasingly easier as time has passed throughout history.
    Children today are encouraged to use media tools in school and are expected to have a general
    understanding of the various technologies available. The internet is arguably one of the most
    effective tools in media for communication tools such as e-mail, Skype, and Facebook have brought
    people closer together and created new online communities. However, some may argue that certain
    types of media can hinder face-to-face. Therefore, it is an important source of communication.
  </p>
  <h3>Media of India</h3>
  <p>
    Indian Media consist of several different types of communications of mass media: television, radio, cinema,
    newspapers, magazines, and Internet-based Web sites/portals. Indian media was active since the late 18th century.
    The print media started in India as late as 1780. The radio broadcasting began in 1927.India Media is among
    the oldest and largest media of the world. It dates back even before the reign of Ashoka the Great.
    Media in India has been free and independent throughout most of its history. However, there have been periods
    when it was muzzled. The period of emergency (1975–1977), declared by Prime Minister Indira Gandhi, was the
    brief period when India's media was faced with potential government retribution. Many of the media are
    controlled by large, for-profit corporations, which reap revenue from advertising, subscriptions,
    and sale of copyrighted material. India also has a strong music and film industry.
  </p>
</div>
